.table
  .table-row
    .table-cell.sidebar
      %a{:href => "http://www2.oaklandnet.com/"}
        = image_tag "logos/citytree_green_small.jpg", :style => "margin-top:10px", :width => '90px', :alt => t("sponsors.city"), :title => t("sponsors.city")    
      %h1{:style => "font-size: 260%;  margin-bottom: 0"}
        Adopt a Drain
      %h4
        Part of 
        %a{:href => 'http://www.oaklandadoptaspot.org'}Oakland Adopt a Spot

      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://openoakland.org/"}
          = image_tag "logos/openoakland.png", :width => '180px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")

      #feedback
        %br
        %br
        %br
        %p
          Report maintenance needs to the 
          %a{:href => URI.escape("http://www2.oaklandnet.com/Government/o/PWA/Connect/ReportaProblem/index.htm")} City of Oakland Public Works Agency
          or visit
          %a{:href => "http://www.seeclickfix.com/oakland"}www.seeclickfix.com/oakland.
        %p{:style => "font-size: 120%"}
          %a{:href => URI.escape("mailto:pboylerodriguez@oaklandnet.com?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} #{t("links.feedback").titleize}")}
            = t("links.feedback")
    .table-cell.map-container
      #map        
        &nbsp;
      #legend
