.table
  .table-row
    .table-cell.sidebar
      %h2
        Adopt a Drain
      %h5
        Part of the 
        %a{:href => 'http://www.oaklandadoptaspot.org'}Oakland Adopt a Spot
        Program

      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://openoakland.org/"}
          = image_tag "logos/openoakland.png", :width => '180px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")
        %a{:href => "http://www2.oaklandnet.com/"}
          = image_tag "logos/citytree_green_small.jpg", :width => '90px', :alt => t("sponsors.city"), :title => t("sponsors.city")

      #feedback
        %br
        %br
        %br
        %p
          To report a problem to the City of Oakland Public Works Agency, call 510-615-5566, email
          %a{:href => URI.escape("mailto:pwacallcenter@oaklandnet.com")}pwacallcenter@oaklandnet.com
          or visit
          %a{:href => "http://www.seeclickfix.com/oakland"}www.seeclickfix.com/oakland.
        %p
          %a{:href => URI.escape("mailto:mkelly2@oaklandnet.com?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} #{t("links.feedback").titleize}")}
            = t("links.feedback")
    .table-cell.map-container
      #map
        &nbsp;
