.table
  .table-row
    .table-cell.sidebar
      %a{:href => "http://codeforsanfrancisco.org/"}
        = image_tag "https://pbs.twimg.com/profile_images/611647656331378688/Rf_FNiDA_200x200.jpg", :style => "margin-top:10px", :width => '90px', :alt => t("sponsors.city"), :title => t("sponsors.city")    
      %h1
        Adopt a Drain
      %h4
        Part of 
        %a{:href => '#'}San Francisco Adopt a Spot

      %p.alert-message.block-message#tagline
        = t("defaults.tagline")
      #content
        = render :partial => "layouts/flash", :locals => {:flash => flash}
        - if signed_in?
          = render :partial => "sidebar/search"
        - else
          = render :partial => "sidebar/combo_form"
      #logos
        %a{:href => "http://codeforsanfrancisco.org/"}
          = image_tag "https://pbs.twimg.com/profile_images/611647656331378688/Rf_FNiDA_200x200.jpg", :width => '180px', :alt => t("sponsors.cfa"), :title => t("sponsors.cfa")

      #feedback
        %br
        %br
        %br
        %p
          Report maintenance needs to the 
          %a{:href => URI.escape("#")} City of San Francisco Public Works Agency
          or visit
          %a{:href => "http://seeclickfix.com/san-francisco"}seeclickfix.com/san-francisco
        %p{:style => "font-size: 120%"}
          %a{:href => URI.escape("mailto:pboylerodriguez@oaklandnet.com?subject=#{t("titles.main", :thing => t("defaults.thing").titleize)} #{t("links.feedback").titleize}")}
            = t("links.feedback")
    .table-cell.map-container
      #map        
        &nbsp;
      #legend
